.searchInputBox{
    justify-content: center;
    width: -webkit-fill-available;
    margin-top: 4px;
}
html{
    font-size: medium;
}

.searchInput{
   width: 65%;
   outline: none;
}

.noteButton{
    background-color: transparent;
    border: none;
    outline: none;
    color: blue;
}

.form{
    margin-top: 10vh;
}
.info{
    color: blue;
    text-align: center;
}
.error{
    font-size: small;
    color: red;
    text-align: center;
}
.success{
    font-size: small;
    color: green;
    text-align: center;
}

.logoutButton {
    font-size: small;
    margin-top: 9px;
}

