{% extends '../base.html' %}
{% block title %} Secure password manager {% endblock %}
{% block css %} 
{% load static %}
<link href="{% static 'passwords/index.css' %}" rel="stylesheet">
{% endblock %}
{% block content %} 

<div class="container my-4 text-center ">
  <h1>Secure, Anonymous, Stateless, Password Manager</h1>

  <div class="d-flex flex-row justify-content-around ">
      <div class="my-2">
          No. of entries:-- {{total}}
      </div>
      <div class="d-flex flex-row-reverse">

          <form action="{% url 'logout' %}" name="myForm" method="POST">
                  {% csrf_token %}
                  <button class="noteButton" type="submit" >logout</button>
          </form>
          <p class="my-2"> | </p>
          <a href="{% url "addPass" %}" class="p-2">New entry</a> 
      </div>
  </div>
  <div class="my-4">
      <h4 class="my-4">List of Entries</h4>
      <div class="mx-4 flex-wrap text-start">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">name</th>
              <th scope="col">Username</th>
              <th scope="col">Password</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for note in notes %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{note.name}}</td>
              <td>{{note.username}}</td>
              <td class="myText">{{note.password}}</td>
              <td class="d-flex justify-content-around">
                <button class="noteButton copyButton" onclick="copyContent({{forloop.counter}})">Copy</button>
                <form action="{% url 'regen' id=note.id %}" name="myForm" method="POST">
                  {% csrf_token %}
                  <button class="noteButton" type="submit" >Regenerate</button>
              </form>
                <form action="{% url 'deletePass' id=note.id %}" name="myForm" method="POST">
                  {% csrf_token %}
                  <button class="noteButton" type="submit" >Delete</button>
              </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
  
  </div>

{% endblock %}
{% block script %}
  <script src="{% static 'passwords/index.js' %}">
{% endblock %}