{% extends '../base.html' %}
{% block tite %} add new passwords {% endblock %}
{% block css%} 
{% load static %}
<link href="{% static 'passwords/newEntry.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

    <div class="container my-4 text-center d-flex flex-column ">
        {% if messages %}
  {% for message in messages %}
      <p {% if message.tags %} class="{{message.tags}}" {% endif %}>{{ message }}</p>
  {% endfor %}
  {% endif %}
        <div class="d-flex flex-row justify-content-around">
            
            <h3 class="my-2">Add new passwords</h3>
            <form action="{% url 'accounts:logout' %}" name="myForm" method="POST">
              {% csrf_token %}
              <button class="noteButton" type="submit" >logout</button>
            </form>
        </div>
        <form action="{% url 'password:addPass' %}" name="myForm" method="POST">
            {% csrf_token %}
            <label for="name">name:</label><br>
            {{form.name}}
            <br><label for="username">username:</label><br>
            {{form.username}}
            <br><label for="password">password:</label><br>
            {{form.password}}
            <br>
            <strong>Recomended</strong><br>
            <p>{{pass}}<p>
            <div class="my-4 d-flex justify-content-around">
            <a href="{% url 'password:addPass' %}">Regenerate</a>
            <input  class="submitInput" type="submit" value="Submit">
            </div>
          </form>
    </div>


{% endblock %}
{% block script %}
{% load static %}
    <script src="{% static 'passwords/newEntry.js' %}">
{% endblock %}